@page "/"
@model Chirp.Web.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2>Public Timeline</h2>

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <strong>
                        <a asp-page="UserTimeline" asp-route-author="@cheep.AuthorName">
                            @cheep.AuthorName
                        </a>
                    </strong>
                    <small>@cheep.AuthorEmail</small>
                    <p>@cheep.Text</p>
                    <small>@cheep.TimeStamp.ToString("g")</small>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>