@page "/{author}/aboutme"
@model Chirp.Web.Pages.UserInformation

@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
}

@using Chirp.Core
@inject SignInManager<Author> SignInManager  
@inject UserManager<Author> UserManager   
 

<div>
    @if (routeName!.Equals(User.Identity!.Name) && SignInManager.IsSignedIn(User))
    {
        <h2> About me </h2>
        
        <p> This is your personal information page. This page provides an overview 
            of all personal information that Chirp! stores about you. You can download a complete overview down below.
            If you wish to delete your account, click on 'Forget me!' down below.
            </p>
        
        <h3 style="display: inline-block;"> Your username: </h3> 
        <p style="display: inline-block;">@(User.Identity.Name)</p>
        <br>
        <h3 style="display: inline-block;"> Your email: </h3> 
        <p style="display: inline-block;">@Model.Email</p>
        
      
        <p> @Model.imageCounter </p>
        <form method="post" asp-page-handler="ImageProfile">
            <input type="hidden" name="author" value="@(User.Identity.Name))"/>
            <button class="btn" type="submit"> Change profile picture </button>
        </form>
        
        
        <div style="display:flex; gap:2rem; align-items:flex-start; margin-top:1.5rem;">
            <!-- Left column -- Cheeps posted -->
            <div style="flex: 1">
                <h3> Dates and timestamps of your cheeps </h3>
                @if (Model.Cheeps.Any())
                {
                    <ul id="messagelist" class="cheeps">
                        @foreach (var cheep in Model.Cheeps)
                        {
                            <li>
                                <small>@cheep.TimeStamp</small>
                            </li>
                        }
                    </ul>

                    <div class="pagination">
                        @if (Model.CurrentPage > 1)
                        {
                            <a class="btn" href="/@(Model.CurrentAuthor)/aboutme/?page=@(Model.CurrentPage - 1)"> <button class="aboutmebtn"> Previous </button> </a>
                        }

                        @if (Model.HasNextPage)
                        {
                            <a class="btn" href="/@(Model.CurrentAuthor)/aboutme/?page=@(Model.CurrentPage + 1)"> <button class="aboutmebtn"> Next </button> </a>
                        }
                    </div>
                }
                else
                {
                    if (Model.CurrentPage > 1)
                    {
                        <p> No cheeps on this page. </p>
                        <a class="btn" href="/@(Model.CurrentAuthor)/aboutme/?page=@(Model.CurrentPage - 1)"> <button class="aboutmebtn"> Previous </button> </a>
                    }
                    else
                    {
                        <p>You haven't posted any cheeps yet.</p>
                    }
                }
            </div>
        
                <!-- Right Column -- followed users -->
                <div style="flex:1;">
                    <h3>Users you follow</h3>

                    @if (Model.Followees.Any())
                    {
                        <ul>
                            @foreach (var followee in Model.Followees)
                            {
                                <li>
                                    <a asp-page="/UserTimeline" asp-route-author="@followee">
                                        @followee
                                    </a>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p>You're not following anyone yet.</p>
                    }
                </div>
            </div>
        <br>
        <form method="post" asp-page-handler="Download">
            <button type="submit">Download Your Information</button>
        </form>
        
        
        <form method="post" asp-page-handler="Delete"
              onsubmit="return confirm('Are you sure you want to delete your account?');">
            <button class="forgetbtn" type="submit"> Forget me! </button>
        </form>
        
    }
    else
        {
            if (SignInManager.IsSignedIn(User))
            {
                <h2> 403 - Forbidden </h2>
            }
            else
            {
                <h2> 401 - Unauthorized </h2>
                <em> You are not logged in. Redirect to <a asp-area="Identity" asp-page="/Account/Login"> login </a> </em>
            }
        }
    </div>