@page "/{author}"
@using Chirp.Web.Pages.Shared
@model Chirp.Web.Pages.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
}
@if(Model.AuthorExists){
    <div>
        <h2>@routeName's Timeline</h2>
        @{ await Html.RenderPartialAsync("Shared/_PostPartial", Model.Input);}

        @if (Model.Cheeps.Any())
        {
            <ul id="messagelist" class="cheeps">
                @foreach (var cheep in Model.Cheeps)
                { 
                    <li>
                        <div class="followcontainer">
                            <img class="profilepicture" src="@cheep.Author.ProfileImage">
                            <strong>
                                <a href="/@cheep.Author.Name">@cheep.Author.Name</a>
                            </strong>
                            @{
                                await Html.RenderPartialAsync("Shared/_FollowPartial",
                                       new FollowButtonViewModel(cheep.CheepId, cheep.Author.Name, await Model.IsFollowing(cheep.Author.Name)));
                            }
                        </div>
                        @cheep.Message
                        <small>&mdash; @cheep.TimeStamp</small>

                        @await Html.PartialAsync("Shared/_CommentPartial", cheep.Comments)

                        @if (User.Identity?.IsAuthenticated ?? false)
                        {
                            <form method="post" asp-page-handler="AddComment">
                                <input type="hidden" name="CheepId" value="@cheep.CheepId" />
                                <input type="text" name="Content" placeholder="Write a comment..." required />
                                <button class="followbtn" type="submit">Comment</button>
                            </form>
                        }

                    </li>
                }
            </ul>
        
            <div class="pagination">
                @if (Model.CurrentPage > 1)
                {
                    <a class="btn" href="/@(Model.CurrentAuthor)?page=@(Model.CurrentPage - 1)"> <button> Previous </button> </a>
                }
            
                @if (Model.HasNextPage){
                    <a class="btn" href="/@(Model.CurrentAuthor)?page=@(Model.CurrentPage + 1)"> <button> Next </button> </a>
                }
            </div>
        }
        else
        {
            @if (Model.CurrentPage > 1)
            {
                <em> No cheeps on current pagenumber: @(Model.CurrentPage) </em>
            
                <br> <br>
                <a class="btn" href="/@(Model.CurrentAuthor)?page=@(Model.CurrentPage - 1)"> <button> Previous </button> </a>
            }
            else
            {
                <em> There are no cheeps so far.</em>
            }
        }
    </div>
}
else
{
    
    <div>
        <h2>User '@routeName' does not exist</h2>
        <em> The user you are trying to view cannot be found.</em>
    </div>
}
